<!DOCTYPE html>
<html><head><title>Projet développement WEB Patrice VERSTICHEL</title></head><body>
<center>
  <table style="text-left: left; width: 800px;" border="0" cellpadding="2" cellspacing="2">
    <tbody>
      <tr>
        <td style="vertical-align: top; width: 90%;">
        <a href="index.php?uc=accueil">
            <img style="width: 135px; height: 37px;" alt="DZone" src="views\accueil\DZone_Logo_LeftAligned-01.png">
        </a><br>
        </td>
        <td style="vertical-align: top; width: 10%;">
          <a href="index.php?uc=login">
              <img style="width: 26px; height: 30px;" alt="AVATAR" src="views\accueil\empty_avatar.png">
          </a><br>
        </td>
        <td style="vertical-align: top; width: 10%;">
          <a href="index.php?uc=logout">
              <img style="width: 32px; height: 36px;" alt="LOGOUT" src="views\accueil\logout.png">
          </a><br>
        </td>
      </tr>
    </tbody>
  </table>
</center>
<br>
</body></html>